:root {
  --main-font: "Noto Serif Display";
  --background-color: #2b2b28;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
p {
  color: aliceblue;
  font-family: var(--main-font);
  font-weight: bolder;
}
p {
  font-size: 20px;
  line-height: 1.5;
}

footer {
  margin-top: 30px;
}

footer .email-link {
  text-decoration: none;
  color: aliceblue;
  font-size: 24px;
  font-family: var(--main-font);
}
footer .socials a {
  margin: 0 40px;
  color: aliceblue;
  font-size: 30px;
}

footer .email-link:hover {
  text-decoration: underline;
  transition: all 150ms ease-in-out;
}
footer .contact-box {
  background-color: #393e46;
  padding: 25px;
  border-radius: 10px;
}

footer .contact-box h4 {
  font-size: 48px;
}
footer .contact-box p {
  margin: 0;
}
.hero p {
  color: aliceblue;
  font-family: var(--main-font);
  font-weight: bolder;
  margin-bottom: 0;
  font-size: 37px;
  padding: 0;
}
.hero {
  text-align: center;
  padding: 160px;
}
.hero h1 {
  font-size: 96px;
}
.contact-btn,
.projects-btn,
.weather-app,
.plantain-app,
.yoga-app {
  color: aliceblue;
  border-color: aliceblue;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
  font-family: var(--main-font);
}
.section h1 {
  font-size: 64px;
  line-height: 80px;
}
.section h2,
p {
  font-size: 18px;
}
.button {
  text-align: center;
}
.section {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.section img {
  max-width: 100%;
  max-height: auto;
}

@media (max-width: 900px) {
  .section h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .section {
    padding: 30px;
    text-align: center;
  }

  .me {
    font-size: 13px;
    text-align: center;
  }
  .hero h1 {
    font-size: 44px;
  }
  .hero p {
    font-size: 25px;
  }
  .hero h4 {
    font-size: 15px;
  }
  .hero {
    padding: 80px;
  }
  .about {
    text-align: center;
    padding: 10px;
  }
  .email-link {
    font-size: 15px;
  }
}
